Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,

  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,

  -clang-diagnostic-unused-command-line-argument,

  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,

  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,

  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,

  -modernize-macro-to-enum,
  -modernize-macro-to-constant

HeaderFilterRegex: ".*\\/src\\/.*"
FormatStyle: none

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: "0"
