appbin/
.cache/
release.sh
CMakeCache.txt
CMakeFiles/
Makefile
FuncDoodle
FuncDoodle.app
# imgui.ini
pkg_app.sh
build/
bin/
dmg/*.dmg
.git
.editorconfig
.vscode/
.DS_Store
./compile_commands.json
leaks.supp
# imgui.ini
release/
