[submodule "lib/imgui"]
	path = lib/imgui
	url = https://www.github.com/ocornut/imgui
	branch = docking
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/nfd"]
	path = lib/nfd
	url = https://github.com/mlabbe/nativefiledialog
[submodule "lib/imgui_test_engine"]
	path = lib/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "lib/portaudio"]
	path = lib/portaudio
	url = https://github.com/portaudio/portaudio
